<a href="https://colab.research.google.com/github/taeheee-kim/deep_learning_practice/blob/master/DataFrame_extract_%26_%EB%8B%A4%EC%8B%9C_%EB%B6%88%EB%9F%AC%EC%99%80%EC%84%9C_list%EB%A1%9C_%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
train_loss = [36, 2, 4, 10, 0]

In [3]:
import pandas as pd
df_tl = pd.DataFrame(train_loss)

In [10]:
path_tl = '/content/drive/My Drive/Tomato/태희/train_loss/tl'+ '.txt'
df_tl.to_csv(path_tl, sep = '\t', index=False)

In [18]:
read_train_loss = pd.read_csv('/content/drive/MyDrive/Tomato/태희/train_loss/tl.txt')

In [19]:
read_train_loss

    0
0  36
1   2
2   4
3  10
4   0

In [20]:
read_train_loss = read_train_loss.iloc[:,0].tolist()

In [21]:
read_train_loss

[36, 2, 4, 10, 0]